.crear-marca {
  margin-bottom: 10px;
  margin-top: 20px;
}

#color_codigo {
  width: 46px;
}

.color {
  width: 0px;
  height: 0px;
  border: 2px solid #000000;
  padding: 0px 20px 0px 20px;
  border-radius: 3px;
  margin-left: 5px;
}
